body{
    background-color: #20ead6;
}
#rawCopperButton{
    background-color: black;
    font-family: monospace;
    color: orange;
}
#rawCopperUpgrade1{
    background-color: black;
    font-family: monospace;
    color: orange;
}
#rawCopperUpgrade2{
    background-color: black;
    font-family: monospace;
    color: orange;
}
#rawCopperAmountText{
    font-family: monospace;
    width: max-content;
    background-color: orange;
    border: 2px solid black;
    color: black;
}
#rawTinButton{
    background-color: black;
    font-family: monospace;
    color: #c7e0f6;
}
#rawTinUpgrade1{
    background-color: black;
    font-family: monospace;
    color: #c7e0f6;
}
#rawTinAmountText{
    font-family: monospace;
    width: max-content;
    background-color: #c7e0f6;
    border: 2px solid black;
    color: black;
}
#moneyAmountText{
    font-family: monospace;
    width: max-content;
    background-color: #0eee0a;
    border: 2px solid black;
    color: black;
}
#moneyButton{
    background-color: black;
    font-family: monospace;
    color: #0eee0a;
}